body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerback {
  color: white;
  background-color: #37dbff;
  margin: 10px auto 30px auto;
}

.headerback .btn {
  color: white;
}

.hero {
  border-bottom: 5px solid #f79c25;
}

.skillcol {
  background-color: white;
  margin-top: -100px;
  border: 5px solid #f79c25;
  border-radius: 12px;
  text-align: center;
  z-index: 1;
}

.skilllist {
  list-style: none;
}

.aboutme {
  padding-top: 100px;
  padding-bottom: 200px;
  color: white;
  background-color: #37dbff;
  border-bottom: 5px solid #f79c25;
}

h3 {
  padding: 25px;
}

li {
  padding: 10px;
}

.contactme {
  margin-top: 100px;
  height: 75px;
  color: white;
  background-color: #f79c25;
}

.contactbtn {
  color: white !important;
  background-color: #ce7500 !important;
}

.bluespace {
  height: 300px;
  background-color: #37dbff;
}
