body {
  overflow-x: hidden;
  height: 100vh;
  background-image: url(./assets/redsteelbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

        /* Sidebar and Main Content Spacing */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

.wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: stretch;
}

.stickystick {
  position: -webkit-sticky;
  position: sticky !important;
  top: 40%;

}



.sidebar {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  color: #e20a03;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

/* Nav Bar */
nav li:hover {
  cursor: pointer;
  color: white;
}

              /* Skill Column */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */



.orangebg {
  background-image: url(./assets/orange.png);
  background-position: center;
  border-bottom: 5px solid #ff9100;
}


.skillcol {
  padding: 0 !important;
  color: white;
  background-color: rgb(19, 3, 3);
  margin: -100px 0px;
  border: 5px solid #ff9100;
  border-radius: 12px;
  text-align: center;
  z-index: 1;
}

.skilllist {
  list-style: none;
  padding-left: 0;
}

                /* About Me Hero */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

.herologo { 
  margin-top: 300px;
  max-width: 1100px;
}


.aboutme {
  padding-bottom: 300px;
  color: white;
  border-bottom: 5px solid #ff9100;
}

.aboutmep {
  background-color: rgb(19, 3, 3);
  border: 5px solid rgb(126, 0, 0);
  border-radius: 17px;
}

h3 {
  padding: 25px;
}

li {
  padding: 10px;
}

               /* Contact Me Footer */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

.contactme {
  min-height: 75px;
  color: white;
  background-color: #e24203;
  text-align: center;
}

.contactbtn {
  color: white !important;
  background-color: #ce0000 !important;
}


.fix-bottom {
  position: relative;
  bottom: 0;
}



                /* Projects Section */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

.projectslogo {
  margin-top: 150px;
  margin-bottom: 150px;
}

.projects {
  margin-top: -40px;
  margin-bottom: 200px;
  padding-top: 15px;
  color: white;
  text-align: center;
}

.card {
  background-color: rgb(19, 3, 3) !important;
  max-width: 400px;
  padding: 5px;
  border-radius: 27px;
  margin: 20px auto !important;
  border-radius: 17px !important;
  box-shadow: 0px 8px 10px #e24203, 
  -10px 8px 15px #e20a03, 10px 8px 15px #e20a03
}

.cardimg {
  min-height: 225px;
  max-height: 225px;
  border-radius: 27px;
}


.btn-primary {
  background-color: #ff9100 !important;
  border: none !important;
}
                /* Modal */
/* ///////////////////////////////////////////////////
/////////////////////////////////////////////////// */

.formrow {
  height: 100vh;  
  padding: 100px;
}

.formcol {
  text-align: center;
  color: white;
  background-color: rgb(19, 3, 3) !important;
  padding: 5px;
  padding-top: 50px;
  border-radius: 27px;
  margin: 20px auto !important;
  border-radius: 17px !important;
  box-shadow: 0px 8px 10px #e24203, 
  -10px 8px 15px #e20a03, 10px 8px 15px #e20a03;
}

textarea {
  height: 100%;
  width: 75%;
}