body {
  height: 100vh;
  background-image: url(./assets/steel\ circuit\ bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.headerback {
  color: white;
  background-color: rgb(29, 29, 29);
  margin: 10px auto 30px auto;
}

.headerback .btn {
  color: white;
}

.workbanner {
  
  margin: 200px auto;
  color: white;
  height: 300px;
  background-color: rgba(34, 34, 34, 0.76);
  border: 5px solid #1d1d1d;
  border-radius: 27px;
}

.fix-bottom {
  position: relative;
  bottom: 0;
}

.ojbottom {
  border-bottom: 5px solid #ff9100;
}

.orangebg {
  background-image: url(./assets/orange.png);
  background-position: center;
  margin: 0;
}

.oj {
  background-color: #f79c25;
}

.skillcol {
  color: white;
  background-color: rgb(51, 51, 51);
  margin-top: -100px;
  margin-bottom: -100px;
  border: 5px solid #ff9100;
  border-radius: 12px;
  text-align: center;
  z-index: 1;
}

.skilllist {
  list-style: none;
  padding-left: 0;
}

.aboutme {
  margin-top: 500px;
  padding-bottom: 400px;
  color: white;
  border-bottom: 5px solid #ff9100;
}

h3 {
  padding: 25px;
}

li {
  padding: 10px;
}

.contactme {
  height: 75px;
  color: white;
  background-color: #f79c25;
  text-align: center;
}

.contactbtn {
  color: white !important;
  background-color: #ce7500 !important;
}

.bluespace {
  height: 300px;
}

.projects {
  margin: 200px auto;
  padding-top: 150px;
  color: white;
  text-align: center;
  height: 300px;
  background-color: rgba(34, 34, 34, 0.76);
  border: 5px solid #1d1d1d;
  border-radius: 27px;
}

.card {
  background: local !important;
  border: none !important;
}
